{% extends 'base.html' %}

{% block content %}


<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<div class="row row-cols-1 row-cols-md-4 g-3 mt-4 p-5 ml-3 pl-4 ">

    {% for pase in pases %}
    <div class="col">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Privada: {{privada.nombre}} Calle: {{get_calle(pase.calle)}}
                Número: {{pase.vivienda}}</div>
            <div class="card-body text-primary">
                <h5 class="card-title">Propietario: {{pase.nombrepropietario}}</h5>
                {% if pase.moroso %}
                <h4 class="card-title mb-2" style="color:#FF0000">Moroso: Si</h4>
                <p class="card-subtitle mb-2 " style="color:#FF0000">Se debe de brindar el servicio el mismo</p>
                {% else %}
                <p class="card-subtitle mb-2 text-muted">Moroso: No</p>
                {% endif %}
                <h6 class="card-subtitle mb-2 text-muted"> Fecha Inicio: {{pase.fechainicio}}</h6>
                <h6 class="card-subtitle mb-2 text-muted"> Vence: {{pase.fechafin}}</h6>
                <p class="card-subtitle mb-2 text-muted">{{pase.movimiento}}</p>
                <p class="card-subtitle mb-2 text-muted"> Creado por: {{get_user(pase.idUsuario).nombre}} </p>
                <a href="{{ url_for('admin.actualizarPase', id=pase.id) }}" class="btn btn-info mb-2">Editar</a>
                <a href="{{ url_for('admin.eliminarPase', id=pase.id) }}" class="btn btn-danger mb-2">Eliminar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}