{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0; right: 0;"
    data-delay="2000" data-autohide="true">
    <div class="toast-header">
        <strong class="me-auto" style="color: red ">Notificación</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">

        </button>
    </div>
    <div class="toast-body">
        <strong>
            {{message}}
        </strong>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<div class="row row-cols-1 row-cols-md-4 g-3 mt-4 p-5">
    <div class="col-sm-5">
        <div class="card card-body">           
            <form action="" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group">
                    <input type="text" name="vivienda" id="vivienda" placeholder="Casa" class="form-control"
                        autocomplete="off" style="text-align:center" autofocus
                        onkeypress="return valideKey(event);">
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-primary g-4 mt-4 ">Buscar</button>
                </div>

            </form>
        </div>
    </div>
    {% for usuario in usuarios %}
    <div class="col-sm-5">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">Privada: {{privada.nombre}} Calle: {{get_calle(usuario.calle)}}
                Número: {{usuario.vivienda}}</div>
            <div class="card-body text-primary">
                <h5 class="card-title">Propietario/Residente: {{usuario.nombre}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> Telefono: {{usuario.telefono}}</h6>
                <h6 class="card-subtitle mb-2 text-muted"> Correo Electronico: {{usuario.email}}</h6>
                {% if usuario.esAdministrador %}
                <p class="card-subtitle mb-2 text-muted">Administrador</p>
                {% elif usuario.esSeguridad %}
                <p class="card-subtitle mb-2 text-muted">Caseta de Seguridad</p>
                {% elif not usuario.esAdministrador and not usuario.esSeguridad %}
                <p class="card-subtitle mb-2 text-muted">Residente</p>
                {% endif %}
                {% if usuario.moroso %}
                <p class="card-subtitle mb-2 text-muted">Moroso: Si</p>
                {% else %}
                <p class="card-subtitle mb-2 text-muted">Moroso: No</p>
                {% endif %}
                <a href="{{ url_for('admin.actualizarUsuario', id=usuario.id) }}" class="btn btn-info mb-2">Editar</a>
                <a href="{{ url_for('admin.eliminarUsuario', id=usuario.id) }}" class="btn btn-danger mb-2">Eliminar</a>
                <a href="{{ url_for('admin.resetearPass', id=usuario.id) }}" class="btn btn-warning">Resetear Password</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}