{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0; right: 0;"
    data-delay="2000" data-autohide="true">
    <div class="toast-header">
        <strong class="me-auto" style="color: red ">Notificación</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">

        </button>
    </div>
    <div class="toast-body">
        <strong>
            {{message}}
        </strong>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container ">
    <form class="row g-4 mt-4 border" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="col-6">
            <label for="nombre" class="form-label">Proveedor</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" maxlength="200"
                minlength="3" autocomplete="off" style="text-align:center" autofocus required value="{{proveedor.nombre}}">
        </div>
        <div class="col-6">
            <label for="nombrePrivada" class="form-label">Privada</label>
            <input type="text" name="nombrePrivada" id="nombrePrivada" class="form-control" style="text-align:center"
                value="{{privada.nombre}}" disabled>
        </div>
        {% if g.user.idPrivada == 1 %}
        <div class="col-6">
            <label for="calle" class="form-label">Calle</label>
            <input type="text" name="calle" id="calle" placeholder="Calle" class="form-control" maxlength="200"
                autocomplete="off" style="text-align:center" autofocus disabled value="{{g.user.calle}}">
        </div>
        {% endif %}
        <div class="col-6">
            <label for="vivienda" class="form-label">Vivienda</label>
            <input type="text" name="vivienda" id="vivienda" placeholder="vivienda" class="form-control" maxlength="2"
                minlength="1" autocomplete="off" style="text-align:center" autofocus required
                value="{{g.user.vivienda}}" onkeypress="return valideKey(event);" disabled>
        </div>
        <div>
            <label>
                Fecha Inicio:
                <input type="date" name="finicio" required value="{{proveedor.fechainicio}}"/>
            </label>
        </div>
        <div>
            <label>
                Fecha Fin:
                <input type="date" name="ffin" required value="{{proveedor.fechafin}}"/>
            </label>
        </div>
        <div class="py-3">
            <button class="btn btn-outline-primary g-4 mt-4 ">Actualizar</button>
        </div>
        <div></div>
    </form>
</div>

{% endblock %}